
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My App</title>
</head>
<body>
    <form action="/signup" method="post" >
        <input type="email" name="email" id="userEmail" placeholder="email" required autocomplete="off">
        <button type="submit">send OTP</button>
    </form>
</body>
</html>

<!--  ->>